body{
    margin:0;
}

.container{
    position: absolute;
    width : 100vw;
    height : 100vh;
    display : grid;
    grid-template-rows: 10vh 25vh 50vh 10vh;
    grid-template-columns : auto;
}

.header{
    position: absolute;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    display :flex;
    --width : 40px;
    --height: 40px;
    --green : green;
    --saffron : orange;
}

.logo{
    width : 20vw;
    background-size: 9vh 9vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/indiaspeaks.jpeg);
}

.heading{
    width : 60vw;
    font-family: 'Courier New', Courier, monospace;
    font-size : 5vmin;
    line-height : 10vh;
    text-align: center;
}

.language{
    width : 20vw;
    height : 10vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.lingo{
    width: 20vw;
    height: 5vh;
    font-size: 3vmin;
    /* color: white; */
    outline: none;
    padding: 1vh 0 1vh 1vw;
    background: transparent;
    border: 1px solid black;
    border-right: 0px;
    border-radius: 2vh 0 0 2vh;
}

.feature{
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    background :red;
}
.display{
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    background :orange;
}
.footer{
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    background : brown;
}



